.navbar{
    background-color: rgba(139, 241, 207);
}
body{
    font-family: "Open Sans", sans-serif;
    
}

.titulos{
    color: #155864;
    font-family: "Lobster", sans-serif;
}

.carousel-item img{
    height: 85vh;
}

.section-style{
    background-color: rgb(163, 207, 207);
}

textarea{
    resize: none;
}

#contato form button{
    color: rgb(16, 109, 16);
}


#contato form input,
#contato form textarea{
    margin-bottom: 8px;
}

#contato form textarea{
    height: 20vh;
}

#contato ul li{
    display: inline;
    font-size: 28pt;
}

@media (max-width:767px){
    .carousel-item img{
        height: 40vh;
    }
}