.navbar{
    background-color: rgba(139, 241, 207);
}
body{
    font-family: "Open Sans", sans-serif;
    
}

.titulos{
    color: #155864;
    font-family: "Lobster", sans-serif;
}

.carousel-item img{
    height: 85vh;
}

.section-style{
    background-color: rgb(163, 207, 207);
}